YT_API_KEY = 

FEATURED_ARRANGEMENT_ID = 
MORE_ARRANGEMENTS_IDS = 

PERFORMANCE_VIDEO_IDS =

MONGO_URI=

RESEND_API_KEY =

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=

# set to remote URL in remote
GOOGLE_CALLBACK_URL=

# set to remote URL in remote
FRONTEND_ORIGIN=
# set to production in remote
NODE_ENV=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_CALLBACK_URL=