.home{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 4vh;
    color: inherit;
}

.home-scene{
    margin: 5px;
    padding: 25% 50%;
}
