.home{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    min-height: 200vh;
    color: inherit;
}

.home-scene{
    position: relative;
    width: 100%;
    padding: 0;
}

.home-bg-sky{
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: auto;
}
.home-bg-moon{
    position: absolute;
    inset: 1;
    display: block;
    width: 120%;
    height: auto;
    filter: brightness(1.4);
}
