.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding:0 0;
    border: 1px solid;
}

.navbar_logo{
    display: flex;
    align-items: center;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-right: 2vw;
    border-right: 1px solid;
}
.Logo{
    width: 95px;
}

.navbar_menu{
    flex: 1;
    list-style: none;
    text-align: left;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}