.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 2%;
}

.navbar_logo{
    display: flex;
    align-items: center;
    padding-right: 5vw;
    margin-right: 2vw;
    border-right: 1px solid;
}
.Logo{
    width: 120px;
}

.navbar_menu{
    flex: 1;
    list-style: none;
    text-align: left;
    margin-left: 2vw;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}