.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1d;
    color: #f3f4f6;
    padding: 0 0;
    border: 1px solid rgba(107, 114, 128, 0.4);
}

.navbar_logo{
    display: flex;
    align-items: center;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-right: 2vw;
    border-right: 1px solid rgba(107, 114, 128, 0.4);
}
.Logo{
    width: 80px;
}

.navbar_menu{
    flex: 1;
    list-style: none;
    text-align: left;
    color: inherit;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: inherit;
}
