.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 2%;
}

.Logo{
    width: 120px;
    cursor: pointer;
    margin-left: 2vw;
}

ul{
    flex: 1;
    list-style: none;
    text-align: left;
    margin-left: 5vw;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}