@import "tailwindcss";

/* apply to all elements */
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #040417;
    color: #e5e7eb;
}

.app-container{
    width: 100%;
    border-left: 2px solid rgba(107, 114, 128, 0.35);
    border-right: 2px solid rgba(107, 114, 128, 0.35);
    margin: 0 auto;
    max-width: 1100px;
    min-height: 100vh;
    background-color: #010110;
    color: inherit;
}
