@import "tailwindcss";

/* apply to all elements */
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app-container{
    width: 100%;
    max-width: none;
    min-height: 100vh;
    background-color: #ced8ff;
}
