@import "tailwindcss";

/* apply to all elements */
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app-container{
    width: 100%;
    border-left: 2px solid rgba(1, 1, 1, 0.1);
    border-right: 2px solid rgba(1, 1, 1, 0.1);
    margin: 0 auto;
    max-width: 1100px
}
